.v-breadcrumbs li a {
    font-size: 16px;
}

.search-and-create__button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .v-text-field {
        width: 60%;
        align-self: center;
    }

    :nth-child(2)
    {
        justify-self: end !important;
    }

    .v-btn {
        height: 40px;
    }

    .v-text-field {
    font-size: 15px;

    .v-input__slot {
      border: 1px solid #ced4da;
    }
  }
}

.c-input
{
    .v-input__slot {
        border: 1px solid #919191 !important;
      }
}